<h2 class="content-block">Títulos em Atraso</h2>

<dx-data-grid class="content-block dx-card responsive-paddings"
  [dataSource]="dataSource"
  [showBorders]="false"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true">

  <dxo-paging [pageSize]="20"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-editing [allowAdding]="true">
    <dxo-popup
        title="Cadastro de Títulos"
        [showTitle]="true">
    </dxo-popup>
    <dxo-form>
          <dxi-item itemType="group" [colCount]="1" [colSpan]="2">

              <dxi-item dataField="TipoDocumento" [label]="{text: 'Tipo'}">
                <dxi-validation-rule type="required"></dxi-validation-rule>
              </dxi-item>


              <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                <dxi-item dataField="Pessoa.Nome" [label]="{text: 'Nome do Devedor'}">
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="Pessoa.Cpf" [label]="{text: 'CPF'}"
                    [editorOptions]="{
                                      mask: cpfMask.format,
                                      useMaskedValue: true,
                                      maskInvalidMessage: 'O CPF não é válido',
                                      placeholder: cpfMask.format
                                  }"
                >
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-item>
              </dxi-item>


              <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                <dxi-item dataField="DataVencimento" editorType="dxDateBox" format="shortDate" [label]="{text: 'Data de Vencimento'}">
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="QtdeParcelas" [label]="{text: 'Parcelas'}">
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-item>
              </dxi-item>


              <dxi-item itemType="group" caption="Valores" [colCount]="3" [colSpan]="3">
                  <dxi-item dataField="Valor">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                  </dxi-item>
                  <dxi-item dataField="Multa">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                  </dxi-item>
                  <dxi-item dataField="Juros">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                  </dxi-item>
              </dxi-item>
            </dxi-item>
      </dxo-form>
  </dxo-editing>

  <dxi-column dataField="TipoDocumento" caption="Tipo de Documento" [visible]="false">
    <dxo-lookup [dataSource]="tipoDocumentoDataSource" displayExpr="value" valueExpr="id">
    </dxo-lookup>
  </dxi-column>
  <dxi-column dataField="Id" caption="Número"></dxi-column>
  <dxi-column dataField="Pessoa.Nome" caption="Nome do devedor"></dxi-column>
  <dxi-column dataField="Pessoa.Cpf" caption="CPF" [visible]="false"></dxi-column>
  <dxi-column dataField="DataVencimento" [visible]="false" editorType="dxDateBox" format="shortDate"></dxi-column>
  <dxi-column dataField="Valor" [visible]="false"></dxi-column>
  <dxi-column dataField="Multa" [visible]="false"></dxi-column>
  <dxi-column dataField="Juros" [visible]="false"></dxi-column>
  <dxi-column dataField="QtdeParcelas" caption="Qtde de Parcelas"></dxi-column>
  <dxi-column dataField="DocumentoOrigem.Valor" caption="Valor Original"></dxi-column>
  <dxi-column dataField="DiasEmAtrado" caption="Dias em atraso"></dxi-column>
  <dxi-column dataField="ValorAtualizado" caption="Valor Atualizado"></dxi-column>
</dx-data-grid>
